name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'poetry'
    - name: Install pipx
      run: |
        python -m pip install --user pipx
        python -m pipx ensurepath
    - name: Install Poetry via pipx
      run: |
        pipx install poetry
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
    - name: Install dependencies
      run: |
        poetry install --no-interaction --no-ansi
    - name: Run tests
      run: |
        poetry run pytest tests/essence/
